*{
    background-color: rgb(103, 210, 230);
    margin:100px 180px 0px 120px;
}

#div1
{
    height:90px;
    width:90px;
    background-color: rgb(76, 194, 82);
    margin-left:440px;
    margin-top: 50px;
}
#div2
{
    height:90px;
    width:90px;
    background-color: rgb(168, 58, 58);
    margin-left:535px;
    margin-top: -93px;
}

#div4
{
    height:90px;
    width:90px;
    background-color: rgb(247, 140, 140);
    margin-left:630px;
    margin-top: -91px;
}
#div5
{
    height:90px;
    width:90px;
    background-color: rgb(90, 191, 231);
    margin-left:725px;
    margin-top: -91px;
}
#div6
{
    height:90px;
    width:90px;
    background-color: rgb(187, 243, 131);
    margin-left:820px;
    margin-top: -91px;
}

#div7
{
    height:90px;
    width:90px;
    background-color:rgb(113, 114, 230);
    margin-left: 345px ;
    margin-top: 10px;
}

#div8
{
    height:90px;
    width:90px;
    background-color:rgb(223, 180, 45);
    margin-left:440px;
    margin-top: -91px;
 
}

#div9
{
    height:90px;
    width:90px;
    background-color:rgb(0, 26, 255);
    margin-left:535px;
    margin-top: -91px;
 
}
#div10
{
    height:90px;
    width:90px;
    background-color:rgb(3, 53, 42);
    border: 1px solid rgb(3, 53, 42);
    margin-left:630px;
    margin-top: -91px;
}
#div11
{
    height:90px;
    width:90px;
    background-color:rgb(99, 0, 180);
    border: 1px solid rgb(99, 0, 180);
    margin-left:725px;
    margin-top: -91px;
 
}
#div12
{
    height:90px;
    width:90px;
    background-color: rgb(233, 0, 0);
    border: 1px solid rgb(233, 0, 0);
    margin-left:820px;
    margin-top: -91px;
}

#div13
{
    height:90px;
    width:90px;
    background-color:rgb(50, 38, 94);
    border: 1px solid rgb(50, 38, 94);
    margin-left:915px;
    margin-top: -91px;
}
#div14
{
    height:90px;
    width:90px;
    background-color:purple;
    border: 1px solid purple;
    margin-left: 245px ;
    margin-top: 10px;
}
#div15
{
    height:90px;
    width:90px;
    background-color:blueviolet;
    border: 1px solid blueviolet;
    margin-left:345px;
    margin-top: -91px;
}
#div16
{
    height:90px;
    width:90px;
    background-color:peru;
    border: 1px solid peru;
    margin-left:440px;
    margin-top: -91px;
}
#div17
{
    height:90px;
    width:90px;
    background-color:violet;
    border: 1px solid violet;
    margin-left:535px;
    margin-top: -91px;
}

#div18
{
    height:90px;
    width:90px;
    background-color:indigo;
    border: 1px solid indigo;
    margin-left:630px;
    margin-top: -91px;
}
#div19
{
    height:90px;
    width:90px;
    background-color:orange;
    border: 1px solid orange;
    margin-left:725px;
    margin-top: -91px;
}
#div20
{
    height:90px;
    width:90px;
    background-color:palevioletred;
    border: 1px solid palevioletred;
    margin-left:820px;
    margin-top: -91px;
}

#div21
{
    height:90px;
    width:90px;
    background-color:burlywood;
    border: 1px solid burlywood;
    margin-left:915px;
    margin-top: -91px;
}
#div22
{
    height:90px;
    width:90px;
    background-color:goldenrod;
    border: 1px solid goldenrod;
    margin-left:1010px;
    margin-top: -91px;
}